button {
    background-color: rgb(103, 195, 222);
    border-radius: 0.5rem;
    padding: 5px 10px;
    margin: 10px;
}

p{
    display: inline;
}
/* 
.boton{
    display: flex;
    align-items: center;
    text-align: center;
    align-content: center;
    align-self: center;
} */
