button {
    background-color: rgb(103, 195, 222);
    border-radius: 0.5rem;
    padding: 5px 10px;
    margin: 10px;
    align-items: center;
}

p{
    display: grid;
  place-items: center;
  margin: auto 0;
}

.inline {
    display: flex;
     margin: auto !important; /*POrque me toma el esttilo de reboot.scss como mas importante que el mio?? */
     align-items: center;
}
